@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.panel {
  @apply bg-panel border border-white/5 rounded-lg;
}
